@font-face {
    font-family: "Futura Bk BT";
    src: url("../fonts/futura.ttf") format("truetype");
}
* {
    box-sizing:border-box
}
body {
    font-family: "Futura Bk BT";
    margin: 0;

}
.container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
}
.box {
        width: 300px;
        height: 300px;
    }

.logo{
    align-content: center;
    letter-spacing: 1em;
    text-align: center;
    font-size: 2em;
    }
.login{
    font-size: 3em;
    text-align: center;
}

.youwin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/bkg2x.png");
    background-position: center;
    background-repeat: no-repeat;
}

.login-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

input[type=text], input[type=password] {
    display: flex;
    font-family: inherit;
    font-size: 100%;
    padding: .5em .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35em;

}
input:hover,
textarea:hover {
    background-color: #FFD;
}
label[for="email"], label[for="password"] {
    text-align: center;
    font-size: 1.5em;
}
.continue {
    font-weight: bold;
    font-size: 1.5em;

    background-color: #7EACBC;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
}
.continue:hover {
  background: #0575e6;
  background: linear-gradient(to right, #0575e6, #021b79)
}
.forgot{
    padding-left: 75%;
    font-size: 85%;
    color: #FD9600;
}
.forgot:hover{
    color: #0575e6;
}

.circle {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
    margin-top: 5%;
    padding-top: 1.5em;
    text-align: center;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: solid .3em #FFFFFF;
    background: #EFC060;
}   
hr#loginu {
    width: 12em;
    color: #FD9600;
    background-color: #FD9600;
    height: 5px;
    border: none;
}
hr#mondu {
    width: 12.5em;
    color: #293441;
    background-color: #293441;
    height: 5px;
    border: none;
}


@media (max-width: 600px) {

input[type=text], input[type=password] {
    width: 150%;
}
